* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: .5s;
    font-family: "Manrope-VariableFont_wght.ttf";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Manrope-VariableFont_wght.ttf";
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
    font-weight: 0;
}

@font-face {
    font-family: "Finlandica-VariableFont_wght.ttf";
    src: url(../fonts/Finlandica-VariableFont_wght.ttf);
    font-weight: 0;
}

.fot_isled {
    background-size: cover;
    background-image: url('../image/image5/header.png');
    height: 224px;
    margin: 0 auto;
}

/* header start */
.container_head {
    margin: 0 auto;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
}

.log {
    padding-top: 38px;
}

.header nav {
    margin-top: 70px;
    display: flex;
    gap: 80px;
}

.header nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400px;
}

.header nav a:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400px;
    transform: scale(1.02);
}

.icon {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.icon img {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.icon2 img {
    margin-top: 5px;
    width: 34px;
    height: 28px;
    cursor: pointer;
}

/* header end */

/* lishn_kab start */
.container_kab {
    padding-top: 80px;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
}

.nazd {
    padding-top: 18px;
    margin-left: 25px;
}

.nazd a {
    color: #747474;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 8px;

}

.container_kab h1 {
    font-size: 24px;
    color: #000;
    font-weight: 900;
    margin-left: 25px;
}

.bel_kv {
    width: 1450px;
    height: 600px;
    box-shadow: 10px 10px 90px 10px #EAEAEA;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    position: relative;
    margin-bottom: 150px;
}

.btnabs {
    width: 397px;
    height: 63px;
    position: absolute;
    top: 575px;
    left: 570px;
    color: #ffffff;
    background-color: #6FBDC9;
    border: 2px solid #6FBDC9;
    font-size: 16px;
    cursor: pointer;
}

.btnabs:hover {
    width: 397px;
    height: 63px;
    position: absolute;
    top: 575px;
    left: 570px;
    color: #6FBDC9;
    background-color: #ffffff;
    border: 2px solid #6FBDC9;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.shas1 img {
    padding: 100px 0px 0px 110px;
}

.btt1 {
    display: flex;
    width: 219px;
    height: 55px;
    background-color: #6FBDC9;
    border: 2px solid #6FBDC9;
    color: #ffffff;
    font-size: 16px;
    margin-top: 49px;
    margin-left: 116px;
    cursor: pointer;
}

.btt1 p {
    padding-top: 16px;
}

.btt1 img {
    padding: 16px 18px;
}

.btt2 {
    display: flex;
    width: 163px;
    height: 45px;
    background-color: #6fbdc900;
    border: 2px solid #6FBDC9;
    color: #6FBDC9;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 140px;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 45px;
    font-weight: 500;
}

.shast2 {
    margin-top: 92px;
    margin-left: 118px;
}

.shast2 h2 {
    font-size: 15px;
    color: #A6AEB1;
    margin-top: 22px;
}

.shast2 h3 {
    font-size: 15px;
    color: #A6AEB1;
    margin-top: 50px;
}

.shast2 p {
    padding-top: 15px;
    font-size: 16px;
    color: #000000;
    font-weight: 800;
}

.shast2 hr {
    margin-top: 10px;
    width: 385px;
    border: 1px solid #C3C8CB;
}

.shast3 {
    margin-top: 92px;
    margin-left: 50px;
}

.shast3 h2 {
    font-size: 15px;
    color: #A6AEB1;
    margin-top: 22px;
}

.shast3 h3 {
    font-size: 15px;
    color: #A6AEB1;
    margin-top: 50px;
}

.shast3 p {
    padding-top: 15px;
    font-size: 16px;
    color: #000000;
    font-weight: 800;
}

.shast3 hr {
    margin-top: 10px;
    width: 385px;
    border: 1px solid #C3C8CB;
}

/* lishn_kab end */

/* podval start */
.podval {
    height: 399px;
    background-color: #202123;
    margin-top: 85px;
}

.container_podv {
    padding-top: 110px;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
}

.sh1 {
    display: flex;
    justify-content: space-between;
}

.navvv nav {
    margin-top: 30px;
    display: flex;
    gap: 80px;
}

.navvv nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400px;
}

.ick_str {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.vk {
    margin-top: 15px;
    cursor: pointer;
}

.ne_strok a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300px;
    top: 150px;
}

.strrr {
    max-width: 160px;
}

.left a {
    margin-left: 45px;
}

.left {
    margin-top: 20px;
}

.lg img {
    width: 116px;
    height: 103px;
}

.rght {
    margin-left: 20px;
}

.sh2 {
    margin-top: 75px;
}

.sh2 p {
    color: #ffffff;
    font-size: 15px;
}

/* podval end */